[Unit]
Description=turbo Bpo backend service staging

[Service]
Type=simple
ExecStart=/bin/bash /var/turbo-bpo-be/cmd/run-staging.sh

[Install]
WantedBy=multi-user.target