[Unit]
Description=turbo Bpo jobs service

[Service]
Type=simple
ExecStart=/bin/bash /var/turbo-bpo-be/cmd/order-timer-job/run.sh

[Install]
WantedBy=multi-user.target